@charset "UTF-8";
/* @font-face {
    font-family: 'Passion One', cursive;
    src: url(fontes/PassionOne-Bold.ttf) format(truetype);
} */

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



:root{
    --fonte1:'Passion One', cursive;
    --fonte2:'Sriracha', cursive;;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
    background-color: black;
    color: white;
    text-align: center;

    padding-top: 55px;
    padding-bottom: 55px;
}

header h1{
    font-variant: small-caps;
    font-size: 10vw;
    font-weight: bold;
    font-family: var(--fonte1);
    
}

header a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

main div{
    padding-top: 10vh;
    padding-bottom: 10vh;

    line-height: 2em;
    font-size: 3.5vw;
    padding-left: 30px;

}

main p{
    font-family: var(--fonte2);
    padding: 5px;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    
}

.imagem{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
}

.imagem p{
    display: inline-block;
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.473);
}

#imagem1{
    background-image: url(https://professorguanabara.github.io/projeto-cordel/imagens/background001.jpg);
    background-position: right center;
}

#imagem2{
    background-image: url(https://professorguanabara.github.io/projeto-cordel/imagens/background002.jpg);
    background-position: left center;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}